@media (max-width: 600px) {
  /* nav start here */
  .nav {
    padding: 15px 10px;
    flex-direction: column;
    position: static;
  }

  .nav h1 {
    font-size: 20px;
    text-align: center;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
    text-align: center;
    margin-top: 10px;
  }

  button {
    font-size: 14px;
    white-space: nowrap;
  }

  /* main start here */
  .main {
    background-color: #f1f1f1;
    padding: 0px 10px;
  }
  /* banner start here */
  .banner {
    gap: 10px;
    padding: 10px 10px;
  }

  .banner1,
  .banner2 {
    padding: 20px 0;
    width: 50%;
  }

  .banner1 {
    background: none, none, linear-gradient(to right bottom, #422ad5, #9f62f2);
  }

  .banner2 {
    background: none, none, linear-gradient(to left bottom, #00827a, #63d375);
  }

  .banner__title {
    font-weight: 300;
    font-size: 16px;
  }

  .count {
    font-size: 40px;
    font-weight: bold;
  }

  /* footer start here */
  .footer {
    padding: 30px 10px 0px;
  }

  .footer-in {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
  }

  .footer__info {
    width: 100%;
  }

  .footer__info h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .footer__link {
    width: 100%;
    flex-direction: column;
  }

  .footer__link h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .license {
    padding: 15px 0;
  }

  /*! ticket start here  */
  .ticket {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 10px 10px 20px;
  }

  .ticketSection {
    width: 100%;
  }
  .ticketSection h2 {
    font-size: 18px;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-top: 20px;
  }

  .card__header h4 {
    font-size: 14px;
  }

  .card__header__green,
  .card__header__yellow {
    font-size: 14px;
  }

  .card__desc {
    font-size: 15px;
  }

  .card__footer {
    font-size: 14px;
  }

  .card-ft {
    font-size: 13px;
  }

  .card-ft i {
    font-size: 16px;
  }

  .card__footer div {
    gap: 10px;
    align-items: center;
  }
  /* task start here */
  .task {
    width: 100%;
    height: auto;
  }

  .task h2 {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .status-container,
  .resolved-container {
    width: 100%;
  }

  .status {
    margin-bottom: 40px;
  }

  .status-btn {
    background: #09ac0e;
    font-weight: bold;
    width: 100%;
    margin-top: 15px;
  }
}
