* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --dark1: #627382;
  --dark2: rgb(42, 42, 42);
}

button {
  padding: 10px 20px;
  background: linear-gradient(to right bottom, #422ad5, #9f62f2);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* nav start here */
.nav {
  padding: 24px 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.105);
  position: sticky;
  top: 0;
}

.nav h1 {
  font-size: 24px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav__link {
  color: var(--dark1);
}

/* main start here */
.main {
  background-color: #f1f1f1;
}
/* banner start here */
.banner {
  display: flex;
  gap: 40px;
  padding: 70px 80px;
  background-color: #f1f1f1;
}

.banner1,
.banner2 {
  padding: 50px 0;
  width: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 7px;
}

.banner1 {
  background: url("../assets/vector1.png"), url("../assets/vector2.png"), linear-gradient(to right bottom, #422ad5, #9f62f2);
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
}

.banner2 {
  background: url("../assets/vector1.png"), url("../assets/vector2.png"), linear-gradient(to left bottom, #00827a, #63d375);
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;
}

.banner__title {
  font-weight: 300;
  font-size: 18px;
}

.count {
  font-size: 60px;
  font-weight: bold;
}

/* footer start here */
.footer {
  background-color: black;
  color: rgb(244, 244, 244);
  padding: 80px 80px 0px 80px;
}

.footer-in {
  display: flex;
  gap: 100px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgb(52, 52, 52);
}

.footer__info {
  width: 25%;
}

.footer__info h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

.footer__info p {
  font-size: 14px;
  color: rgb(172, 176, 180);
}

.footer__link {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.footer__link h3 {
  margin-bottom: 20px;
}

.footer__link a {
  font-size: 14px;
  color: rgb(172, 176, 180);
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.footer__link a:hover {
  color: rgb(234, 236, 239);
}

.footer__link li {
  margin-bottom: 10px;
}

.footer__link i {
  background-color: white;
  height: 25px;
  width: 25px;
  font-size: 16px;
  border-radius: 1000px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.license {
  text-align: center;
  padding: 25px 0;
  font-size: 14px;
  color: rgb(172, 176, 180);
}

/*! ticket start here  */
.ticket {
  display: flex;
  gap: 20px;
  color: var(--dark2);
  padding: 0px 80px 75px;
  background-color: #f1f1f1;
}

.ticketSection {
  width: 80%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border-radius: 7px;
  padding: 25px 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.105);
}

.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card__header h4 {
  font-size: 18px;
}

.card__header__green {
  background-color: #35ff4c6b;
  padding: 5px 10px;
  border-radius: 1000px;
}

.circle-green {
  color: rgb(0, 186, 0);
}

.card__header__yellow {
  background-color: #feb90c5a;
  padding: 5px 10px;
  border-radius: 1000px;
}

.circle-yellow {
  color: #febb0c;
}

.card__desc {
  color: var(--dark1);
}

.card__footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.card__footer div {
  display: flex;
  gap: 15px;
  color: var(--dark1);
}

.red {
  font-weight: bold;
  text-transform: uppercase;
  color: red;
}
.green {
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(6, 190, 6);
}
.yellow {
  font-weight: bold;
  text-transform: uppercase;
  color: #febb0c;
}

/* task start here */
.task {
  width: 25%;
  height: 1100px;
  overflow: auto;
}

.task h2 {
  margin-bottom: 20px;
}

.status-container,
.resolved-container {
  font-weight: bold;
  background-color: #fff;
  width: 100%;
  border-radius: 7px;
  padding: 25px 20px;
  margin-bottom: 10px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.105);
}

.status {
  margin-bottom: 40px;
}

.status-btn {
  background: #09ac0e;
  font-weight: bold;
  width: 100%;
  margin-top: 15px;
}
